
@import url('https://fonts.googleapis.com/css?family=Raleway');

.container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
    /*background-color: darksalmon;*/
}

.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 20px;
    letter-spacing: 5px;
    background-color: gold;
    color: red;
}

body{
    background-color: goldenrod;
    font-family: 'Oswald', sans-serif !important;
}

.jumbotron { 
    background-color: gold;
    color: red;
}

a:link {
    text-decoration: none;
    color: red;
}

a:visited {
    text-decoration: none;
    color: red;
}

a:hover {
    text-decoration: none;
    color: red;
}

a:active {
    text-decoration: none;
    color: red;
}